In [1]:
"""
Implementation of trend following strategy by using APO
"""

'\nImplementation of trend following strategy by using APO\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data

In [3]:
# we create dataset first
# we use five years data from amazon for comparison
try:
    data_amzn = pd.read_pickle('amzn_data.pkl')
except:
    data_amzn = data.DataReader("AMZN",'yahoo','2015-01-01','2020-01-01')
    data_amzn.to_pickle('amzn_data.pkl')
data_amzn

                 High        Low       Open      Close     Volume  Adj Close
Date
2015-01-02  15.737500  15.348000  15.629000  15.426000   55664000  15.426000
2015-01-05  15.419000  15.042500  15.350500  15.109500   55484000  15.109500
2015-01-06  15.150000  14.619000  15.112000  14.764500   70380000  14.764500
2015-01-07  15.064000  14.766500  14.875000  14.921000   52806000  14.921000
2015-01-08  15.157000  14.805500  15.016000  15.023000   61768000  15.023000
...               ...        ...        ...        ...        ...        ...
2019-12-24  89.778503  89.378998  89.690498  89.460503   17626000  89.460503
2019-12-26  93.523003  89.974998  90.050499  93.438499  120108000  93.438499
2019-12-27  95.070000  93.300499  94.146004  93.489998  123732000  93.489998
2019-12-30  94.199997  92.030998  93.699997  92.344498   73494000  92.344498
2019-12-31  92.663002  91.611504  92.099998  92.391998   50130000  92.391998

[1258 rows x 6 columns]